<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <%- htmlWebpackPlugin.options.styles %>
    <%- htmlWebpackPlugin.options.title %>
  </head>
  <body>
    <div id="app"><% if (htmlWebpackPlugin.options.content) { %><%- htmlWebpackPlugin.options.content %><% } %></div>
    <% if (htmlWebpackPlugin.files) { %><% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
          <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
      <% } %>
    <% } %>
    <% if (htmlWebpackPlugin.options.scripts) { %>
      <%- htmlWebpackPlugin.options.scripts %>
    <% } %>
  </body>
</html>
